html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {	
	width: 100%;
	height: 100%;
	min-width: 800px;
font-size: 14px;
}

.configurator {
	padding: 30px;
}

.machine,
.hole,
.tools,
.shelf-model,
.price-container {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.circle,
.shelf,
.shelf-tool > div,
.splitter-tool > div,
.splitter,
.single-motor-tool > div,
.double-motor-tool > div,
.double-motor,
.single-motor,
.machine-single-motor,
.machine-double-motor,
.price-tool > div {
	-moz-border-radius: 2.5px;
	-webkit-border-radius: 2.5px;
	border-radius: 2.5px;
}

.machine,
.shelf-model,
.spiral-hole {
	background-color: #C7C7C7;
}

.shelf,
.shelf-tool > div,
.splitter-tool > div,
.splitter,
.single-motor-tool > div,
.single-motor,
.double-motor-tool > div,
.double-motor,
.ski,
.machine-ski,
.ski-tool {
	background-color: #252525;
}

.machine,
.tools,
.shelf-model,
.price-container,
.price-tool > div {
	border: 1px solid #818181;
}

.left {
	position: absolute;
	left: 0;
}

.right {
	position: absolute;
	right: 0;
}

.tools {
	width: 150px;
	padding: 5px;
	margin-right: 35px;
	float: left;
}

.tools ul {
	list-style-type: none;
}

.title {
	height: 20px;
}

.tool-container {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tool-container:hover,
.splitter:hover,
.spiral:hover,
.single-motor:hover,
.double-motor:hover,
.shelf:hover,
.price:hover {
	cursor: pointer;
}

.dragging {
	opacity: 0.5;
}

/* ----------------- ИНСТРУМЕНТЫ ------------------------------ */
.shelf-tool > div {
	width: 150px;
	height: 5px;
}

.spiral-tool > div {
	width: 20px;
	height: 50px;
	margin-top: -8px;

	background: #eeeeee; /* Old browsers */
	background: -moz-repeating-linear-gradient(45deg, #cccccc 0%, #0e0e0e 30%); /* FF3.6+ */
	background: -webkit-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 30%); /* Chrome10+,Safari5.1+ */
	background: -o-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 30%); /* Opera 11.10+ */
	background: -ms-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 30%); /* IE10+ */
	background: repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 30%); /* W3C */
}

.ski-tool > div {
	width: 7px;
	height: 50px;
	margin-top: -8px;
}

.splitter-tool > div {
	width: 7px;
	height: 50px;
	margin-top: -8px;
}

.single-motor-tool > div {
	width: 40px;
	height: 20px;
	margin-top: -8px;
}

.double-motor-tool > div {
	width: 100px;
	height: 20px;
	margin-top: -8px;
}

.price-tool > div {
	width: 40px;
	height: 20px;
}

/* ----------------- "ЭЛЕМЕНТЫ НА ПОЛКЕ" ------------------------------ */
.ski {
	width: 10px;
	margin: 0 auto;
}

.spiral {
	position: absolute;

	-moz-border-bottom-right-radius: : 4px;
	-webkit-border-bottom-right-radius: : 4px;
	border-bottom-right-radius: : 4px;

	-moz-border-bottom-left-radius: : 4px;
	-webkit-border-bottom-left-radius: : 4px;
	border-bottom-right-left: : 4px;

	background: #eeeeee; /* Old browsers */
	background: -moz-repeating-linear-gradient(45deg, #cccccc 0%, #0e0e0e 10%); /* FF3.6+ */
	background: -webkit-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 10%); /* Chrome10+,Safari5.1+ */
	background: -o-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 10%); /* Opera 11.10+ */
	background: -ms-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 10%); /* IE10+ */
	background: repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 10%); /* W3C */
}

.splitter {
	position: absolute;
}

.single-motor {
	position: absolute;
	bottom: 1px;
}

.double-motor {
	position: absolute;
	bottom: 1px;
	z-index: 10;
}

.shelf-model {
	float: left;
	position: relative;
}

.rail,
.detector-rail {
	width: 2px;
}

.rail {
	background: #7A7A7A;
	margin: 0px auto 0px auto;
}

.detector-rail {
	margin: 4px auto 0px auto;
}

.price-label {
	border-width: 0px;
	margin-top: 4px;
	text-align: center;
}

.price {
	position: relative;
	padding: 0px;
	background: #989898;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 10;
}

.price:after {
	content: "";
	position: absolute;
	top: -15px;
	left: 6px;
	border-style: solid;
	border-width: 0 9px 15px;
	border-color: #989898 transparent;
	display: block;
	width: 0;
	z-index: 1;
}
.price-detectors {
	padding-top: 2px;
	padding-bottom: 2px;
}

.price-container {
	display: inline-block;
	margin-top: 15px;
}

/* ----------------- "ЭЛЕМЕНТЫ НА АВТОМАТЕ" ------------------------------ */
.machine {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 20px;
	margin-right: 15px;
	float: left;
}

.hole {
	position: relative;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hole-label {
	position: absolute;
	left: -24px;
	top: 5px;
}

.circle {
	width: 5px;
	height: 5px;
	background: #FFFFFF;
}

.shelf {
	height: 5px;
}

.configure-shelf {
	position: absolute;
	right: -80px;
	top: 0px;
}

.to-storage {
	background-color: #9E9FFF;
}

.to-storage.drag-enter {
	background-color: #83FF7C !important;
}

.machine-ski {
	height: 10px;
	margin-top: 13px;
}

.machine-spiral {
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	height: 26px;
	margin-top: -28px;
	border: 2px solid #313131;
}

.machine-splitter {
	height: 26px;
	margin-top: -26px;
	background-color: #313131;
}

.machine-single-motor,
.machine-double-motor {
	background-color: #9C9C9C;
}

.machine-single-motor {
	height: 27px;
	margin-top: -27px;
}

.machine-double-motor {
	height: 27px;
	margin-top: -27px;
}

.to-machine {
	display: inline-block;
}

/* -------------- ДЕТЕКТОРЫ И МЕСТА ДЛЯ ЭЛЕМЕНТОВ ------------------ */
.spiral-places {
	width: 100%;
	position: relative;
}

.motor-place {
	width: 100%;
	border-bottom: 2px solid #7A7A7A;
	position: absolute;
}

.spiral-place,
.machine-place {
	float: left;
}

.spiral-place {
	position: relative;
}

.place-offset,
.motor-offset,
.machine-place-offset {
	float: left;
}

.spiral-hole {
	width: 14px;
	height: 4px;
	margin: 0 auto;
}

.single-spiral-detectors,
.motor-detectors,
.price-detectors {
	width: 100%;
	position: absolute;
}

.motor-detectors {
	top: 0;
}

.single-spiral-detector,
.motor-detector,
.price-detector {
	float: left;
	position: relative;
}

/* ------------ ПОДСВЕТКИ ------------------------------------- */
.drag-enter .circle {
	background-color: #FFFFFF !important;
}

.single-spiral-detector.drag-enter .detector-rail {
	background-color: #7A7A7A !important;
}

.single-spiral-detector.drag-enter.can-not-drop,
.price-detector.drag-enter.can-not-drop,
.motor-detector.drag-enter.can-not-drop-but-show,
.hole.drag-enter.not-empty {
	background-color: #FF6060;
}

.single-spiral-detector.drag-enter.can-not-drop .spiral {
	background: #FF6060 !important;
}

.single-spiral-detector.tool-mouse-over.can-drop .detector-rail,
.single-spiral-detector.can-drop .spiral,
.price-detector.can-drop,
.motor-detector.tool-mouse-over.can-drop,
.motor-detector.tool-mouse-over.can-not-drop-but-show,
.hole.tool-mouse-over .circle {
	background: #7076FF;
}

.single-spiral-detector.drag-enter.can-drop,
.single-spiral-detector.drag-enter.can-drop .spiral,
.price-detector.drag-enter.can-drop,
.motor-detector.drag-enter.can-drop,
.hole.drag-enter {
	background-color: #83FF7C;
}

/* --------- ИНДИКАТОРЫ ------------------------------- */
.shelf-indicators {
	position: absolute;
	top: 0;
	width: 100%;
}

.shelf-indicator {
	margin: 1px;
	width: 24px;
	height: 24px;
	background-size: cover;
}

.tool-indicator {
	margin: 1px;
	width: 18px;
	height: 18px;
	background-size: cover;
	display: block;
}

.direction-left {
	background-image: url(../images/arrows.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.direction-right {
	background-image: url(../images/arrows.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}