html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
	font-family: Helvetica, Tahoma, Sans-serif
}

body {
	height: 100%;
	min-width: 800px;
	font-size: 14px;
}

.configurator {
	padding-top: 30px;
	padding-left: 15px;
}

.machine,
.sockets,
.hole,
.tools,
.shelf-model,
.label-container {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.circle,
.shelf,
.shelf-tool > div,
.splitter-tool > div,
.hole-tool > div,
.hole-object,
.splitter,
.single-motor-tool > div,
.double-motor-tool > div,
.double-motor,
.single-motor,
.machine-single-motor,
.machine-double-motor,
.label-tool > div {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.machine,
.sockets,
.shelf-model,
.spiral-hole {
	background-color: #C7C7C7;
}

.shelf,
.shelf-tool > div,
.splitter-tool > div,
.splitter,
.single-motor-tool > div,
.single-motor,
.double-motor-tool > div,
.double-motor,
.ski,
.machine-ski,
.ski-tool {
	background-color: #252525;
}

.machine,
.sockets,
.tools,
.shelf-model,
.label-container {
	border: 1px solid #818181;
}

.left {
	position: absolute;
	left: 0;
}

.right {
	position: absolute;
	right: 0;
}

.center {
	margin: 0 auto;
}

.machine-properties input {
	width: 150px;
}
.machine-properties,
.tools {
	width: 150px;
}
.tools {
	padding: 5px;
	background-color: #FFFFFF;
}

.tools-container {
	width: 180px;
	position: fixed;
	overflow-y: auto;
	z-index: 999;
}

.machine-generator,
.shelf-generator {
	margin-left: 200px;
}

.tools ul {
	list-style-type: none;
}

.title {
	height: 20px;
}

.tool-container {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}
.tool-container.dragging {
	margin-top: -5px;
}

.tool-container:hover,
.splitter:hover,
.spiral:hover,
.single-motor:hover,
.double-motor:hover,
.shelf:hover,
.label:hover,
.socket:hover,
.motor-circle:hover,
.machine-binding-circle:hover,
.hole-object:hover,
.guide:hover {
	cursor: pointer;
}

.dragging {
	opacity: 0.5;
}

.hidden {
	visibility: hidden;
}

.display-none {
	display: none;
}

/* ----------------- ИНСТРУМЕНТЫ ------------------------------ */
.shelf-tool > div {
	width: 150px;
	height: 5px;
}

.guide-tool > div,
.guide {
	width: 12px;
	height: 12px;
	background-color: #B0B0B0;
	border: 1px solid #000000;
}

.spiral-tool > div {
	width: 20px;
	height: 50px;
	margin-top: -8px;

	background: #eeeeee; /* Old browsers */
	background: -moz-repeating-linear-gradient(45deg, #cccccc 0%, #0e0e0e 30%); /* FF3.6+ */
	background: -webkit-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 30%); /* Chrome10+,Safari5.1+ */
	background: -o-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 30%); /* Opera 11.10+ */
	background: -ms-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 30%); /* IE10+ */
	background: repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 30%); /* W3C */
}

.ski-tool > div {
	width: 7px;
	height: 50px;
	margin-top: -8px;
}

.splitter-tool > div {
	width: 7px;
	height: 50px;
	margin-top: -8px;
}

.single-motor-tool > div {
	width: 40px;
	height: 20px;
	margin-top: -8px;
}

.double-motor-tool > div {
	width: 100px;
	height: 20px;
	margin-top: -8px;
}

.label-tool > div {
	width: 40px;
	height: 20px;
	margin-top: 5px;
}

.socket-tool > div {
	width: 20px;
	height: 20px;
	background-color: #404040;
}

.hole-tool > div {
	border: 1px solid #000000;
}

/* ----------------- "ЭЛЕМЕНТЫ НА ПОЛКЕ" ------------------------------ */
.ski {
	width: 10px;
	margin: 0 auto;
}

.spiral {
	position: absolute;

	-moz-border-bottom-right-radius: : 4px;
	-webkit-border-bottom-right-radius: : 4px;
	border-bottom-right-radius: : 4px;

	-moz-border-bottom-left-radius: : 4px;
	-webkit-border-bottom-left-radius: : 4px;
	border-bottom-right-left: : 4px;

	background: #eeeeee; /* Old browsers */
	background: -moz-repeating-linear-gradient(45deg, #cccccc 0%, #0e0e0e 10%); /* FF3.6+ */
	background: -webkit-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 10%); /* Chrome10+,Safari5.1+ */
	background: -o-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 10%); /* Opera 11.10+ */
	background: -ms-repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 10%); /* IE10+ */
	background: repeating-linear-gradient(45deg, #cccccc 0%,#0e0e0e 10%); /* W3C */
}

.splitter {
	position: absolute;
}

.single-motor {
	position: absolute;
	bottom: 1px;
	z-index: 10;
}

.double-motor {
	position: absolute;
	bottom: 1px;
	z-index: 10;
}

.motor-hsocket-label {
	color: #FFFFFF;
}

.motor-hsocket-binding {
	position: absolute;
}

.shelf-model {
	float: left;
	position: relative;
}

.rail,
.detector-rail {
	width: 2px;
}

.rail {
	background: #7A7A7A;
	margin: 0px auto 0px auto;
}

.detector-rail {
	margin: 4px auto 0px auto;
}

.label-text {
	border-width: 0px;
	margin-top: 4px;
	text-align: center;
}

.label,
.label-tool > div {
	position: relative;
	padding: 0px;
	background: #989898;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 10;
}

.label:after,
.label-tool > div:after {
	content: "";
	position: absolute;
	top: -15px;
	left: 6px;
	border-style: solid;
	border-width: 0 9px 15px;
	border-color: #989898 transparent;
	display: block;
	width: 0;
	z-index: 1;
}

.label-detectors {
	padding-top: 2px;
	padding-bottom: 2px;
}

.label-container {
	display: inline-block;
	margin-bottom: 15px;
}

.label-container-mini {
	display: inline-block;
}

.label-name {
	position: absolute;
	width: 50px;
	right: -60px;
	padding-top: 5px;
	text-align: left;
}

.price-label {
	background: #FF8080 !important;
}
.price-span {
	color: #FF8080;
}

.number-label {
	background: #40FF40 !important;
}
.number-span {
	color: #40FF40;
}

.comment-label {
	background: #4040FF !important;
}
.comment-span {
	color: #4040FF;
}

/* ----------------- "ЭЛЕМЕНТЫ НА АВТОМАТЕ" ------------------------------ */
.shelf.dragging,
.guide.dragging,
.hole.dragging {
	margin-top: 0px !important;
}

.machine,
.sockets,
.scale {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.machine {
	margin-right: 15px;
	float: left;
}

.machine-detector,
.sockets-detector {
	position: relative;
	width: 100%;
	height: 100%;
}

.sockets {
	width: 20px;
	float: left;
}

.scale {
	float: left;
	width: 20px;
	margin-right: 10px;
	position: relative;
}
.division {
	position: absolute;
}

.hole,
.socket-hole {
	position: relative;
	width: 100%;
}

.socket-hole {
	width: 20px;
}

.hole-label {
	position: absolute;
	left: -35px;
	top: 5px;
}

.circle,
.hole-tool > div,
.hole-object {
	width: 5px;
	height: 5px;
	background: #FFFFFF;
}
.hole-object {
	margin-top: -2px;
}

.motor-circle {
	position: relative;
}
.motor-circle.dragging {
	margin: 0 !important;
}

.shelf {
	height: 5px;
	margin-top: -2px;
	position: absolute;
}

.guide {
	margin-top: -6px;
	position: absolute;
}

.configure-shelf {
	position: absolute;
	right: -170px;
}

.to-storage {
	background-color: #9E9FFF;
}

.to-storage.drag-enter {
	background-color: #83FF7C !important;
}

.machine-ski {
	height: 10px;
	margin-top: 13px;
}

.machine-spiral {
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	height: 26px;
	margin-top: -28px;
	border: 2px solid #313131;
}

.machine-splitter {
	height: 26px;
	margin-top: -26px;
	background-color: #313131;
}

.machine-single-motor,
.machine-double-motor {
	background-color: #9C9C9C;
}

.machine-single-motor {
	height: 27px;
	margin-top: -27px;
}

.machine-double-motor {
	height: 27px;
	margin-top: -27px;
}

.to-machine {
	display: inline-block;
}

.socket {
	width: 17px;
	margin-left: 1px;
	height: 17px;
	background-color: #404040;
	position: absolute;
	margin-top: -7px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 2px;
}

.hsocket-detector .socket {
	position: relative;
	margin: 0 auto;
}
.hsocket-detector .socket.dragging {
	margin: 0;
}

.hole-object {
	position: absolute;
}

.machine-binding-circle {
	position: absolute;
	right: -12px;
	background-color: #000000;
}

.socket-height {
	text-align: left;
	width: 1px;
	position: absolute;
	color: black;
	right: -13px;
}

.machine-items {
	position: absolute;
}

/* -------------- ДЕТЕКТОРЫ И МЕСТА ДЛЯ ЭЛЕМЕНТОВ ------------------ */
.spiral-places {
	width: 100%;
	position: relative;
}

.motor-place {
	width: 100%;
	border-bottom: 2px solid #7A7A7A;
	position: absolute;
}

.spiral-place,
.machine-place {
	float: left;
	display: inline-block;
}

.spiral-place {
	position: relative;
}

.place-offset,
.motor-offset,
.hsocket-offset,
.machine-place-offset {
	float: left;
	display: inline-block;
}

.spiral-hole {
	width: 14px;
	height: 4px;
	margin: 0 auto;
}

.single-spiral-detectors,
.motor-detectors,
.hsocket-detectors,
.label-detectors,
.hsocket-bindings,
.labels-mini {
	width: 100%;
	position: absolute;
}

.labels-mini {
	text-align: center;
	z-index: 999;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	top: 0;
}

.hsocket-detectors {
	top: 0px;

}

.motor-detectors {
	top: 20px;
}

.single-spiral-detector,
.motor-detector,
.hsocket-detector,
.hsocket-binding,
.label-detector,
.label-mini {
	float: left;
	position: relative;
}

.label-mini {
	white-space: nowrap;
}
.label-mini span {
	background-color: #FFFFFF;
}

/* ------------ ПОДСВЕТКИ ------------------------------------- */
.single-spiral-detector.drag-enter .detector-rail {
	background-color: #7A7A7A !important;
}

.single-spiral-detector.drag-enter.can-not-drop,
.label-detector.drag-enter.can-not-drop,
.hsocket-detector.drag-enter.can-not-drop,
.socket-hole.drag-enter.can-not-drop,
.motor-detector.drag-enter.can-not-drop-but-show,
.hole.drag-enter.can-not-drop {
	background-color: #FF6060;
}

.single-spiral-detector.drag-enter.can-not-drop .spiral {
	background: #FF6060 !important;
}

.single-spiral-detector.tool-mouse-over.can-drop .detector-rail,
.single-spiral-detector.can-drop .spiral,
.label-detector.can-drop,
.socket-hole.can-drop,
.hsocket-detector.can-drop,
.motor-detector.tool-mouse-over.can-drop,
.motor-detector.tool-mouse-over.can-not-drop-but-show,
.machine-detector.can-drop,
.sockets-detector.can-drop,
.socket.can-drop,
.hole.can-drop .circle,
.hole.can-drop .circle .hole-object {
	background: #7076FF;
}

.single-spiral-detector.drag-enter.can-drop,
.single-spiral-detector.drag-enter.can-drop .spiral,
.label-detector.drag-enter.can-drop,
.motor-detector.drag-enter.can-drop,
.hsocket-detector.drag-enter.can-drop,
.socket-hole.drag-enter.can-drop,
.hole.drag-enter.can-drop,
.socket.drag-enter + .can-drop,
.machine-detector.drag-enter.can-drop,
.sockets-detector.drag-enter.can-drop {
	background-color: #83FF7C;
}

/* --------- ИНДИКАТОРЫ ------------------------------- */
.shelf-indicators {
	position: absolute;
	top: 0;
	width: 100%;
}

.shelf-indicator {
	margin: 1px;
	width: 24px;
	height: 24px;
	background-size: cover;
}

.tool-indicator {
	margin: 1px;
	width: 18px;
	height: 18px;
	background-size: cover;
	display: block;
}

.direction-left {
	background-image: url(../images/arrows.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.direction-right {
	background-image: url(../images/arrows.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.selected {
	box-shadow: 0 0 1px 2px #00D403;
}