<!DOCTYPE html>
<html>
<head>
	<title>Мензурка</title>
	<meta charset="utf-8">

	<script src="jquery/jquery-2.0.3.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

	<script src="angular/angular.min.js" type="text/javascript"></script>
	<script src="angular/cylinder/mootools.js" type="text/javascript"></script>
    <script src="angular/cylinder/BVTouchable.js" type="text/javascript"></script>
	<script src="angular/cylinder/cylinder.js" type="text/javascript"></script>
	<link   href="angular/cylinder/cylinder.css" type="text/css" rel="stylesheet">
	<script src="ctrl.js" type="text/javascript"></script>

	<link rel="stylesheet" href="main.css">
	<script src="main.js" type="text/javascript"></script>
</head>
<body>
	<div ng-app="app">
	<div ng-controller="CylinderCtrl">
		<div id="converter-container" class="container-fluid">
			<div class="row-fluid">
				<div class="col-xs-{{ colInputType() }}" ng-repeat="input in recipes[recipeName].inputs">
					<div cylinder type="input" label='{{input.name + " (" + input.uom + ")"}}' proportion="{{input.parts}}" having="{{input.onHand}}" critical="{{input.critical}}" accuracy="{{input.accuracy}}"></div>
				</div>
			</div>

			<div class="row-fluid selecter-container">
				<div class="col-xs-12 recipe-selecter">
					<h2><b>Рецепт:</b></h2>
					<select id="inputRecipe" class="form-control" ng-model="recipeName">
		                <option ng-repeat="recipe in recipes">{{ recipe.name }}</option>
		            </select>
				</div>
			</div>

			<div class="row-fluid">
				<div class="col-xs-{{ colOutputType() }}" ng-repeat="output in recipes[recipeName].outputs">
					<div cylinder type="output" label='{{output.name + " (" + output.uom + ")"}}' proportion="{{output.parts}}" rounding="{{output.rounding}}" accuracy="{{output.accuracy}}"></div>
				</div>
			</div>
		</div>
	</div>
    </div>    
</body>
</html>