<!DOCTYPE html>
<html ng-app="ConfiguratorApp">
<head>
	<title></title>
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/configurator.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
	<script type="text/javascript" src="js/ngDraggable.js"></script>
</head>
<body>
	
									
	<div class="configurator" ng-controller="ConfiguratorCtrl">
		<label for="zoom">Zoom</label>
		<input id="zoom" ng-model="shelfPlaceWidth" label="Зум" ng-change="setSettings()">
		<!-- ПАНЕЛЬ ИНСТРУМЕНТОВ -->
		<div class="tools {{toStorage}}"
			 ng-drop="true"
			 ng-drop-success="onGarbageDropComplete($data, $event)">
			<div class = "title"><strong>Склад</strong></div>
			<ul>
				<li ng-repeat="tool in tools" ng-show="tool.count !== 0">
					<div class="title">{{tool.name}} <span ng-show="tool.count > 0">({{tool.count}})</span></div>
					<div class="tool-container {{tool.toolClass}}"
						 ng-drag="true"
						 ng-drag-data="tool"
						 ng-drag-success="onToolDragComplete($data, $event)"
						 ng-mousedown="onToolMouseDown(tool)"
						 ng-mouseup="onToolMouseUp(tool)">
						 <div>
							<div indicators
								 ng-repeat="(name, indicator) in tool.indicators"
								 tool-name="{{tool.name}}"
								 indicator-name="{{name}}"></div>
						 </div>
					</div>
					<div class="tool-container {{tool.toolClass}}" ng-show="tool.mouseOver && !itemOver">
						<div>
						<div indicators
							 ng-repeat="(name, indicator) in tool.indicators"
							 tool-name="{{tool.name}}"
							 indicator-name="{{name}}"></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- /ПАНЕЛЬ ИНСТРУМЕНТОВ -->

		<!-- ГЕНЕРАТОР АВТОМАТА -->
		<div class="machine-generator" ng-show="mode == modes.machine">
			<div class="machine">
				<div>
					<div class="machine-place-offset" ng-style="settings.machinePlaceOffset"></div>
					<div class="machine-place" ng-style="settings.machinePlace" ng-repeat="place in spiralPlaces"></div>
					<div class="machine-place-offset" ng-style="settings.machinePlaceOffset"></div>
				</div>
				<div class="hole {{hole.class}}"
					 ng-repeat="hole in holes"
					 ng-drop="true"
					 ng-drop-success="onHoleDropComplete($data, $event, hole)">
					<div class="circle left"></div>
					<div class="circle right"></div>
					<div class="hole-label">{{hole.id}}</div>
					<div class="configure-shelf" ng-show="hole.shelf">
						<button type="button" ng-click="configureShelf(hole.shelf)">Настроить</button>
					</div>
					<!-- ПОЛКА АВТОМАТА -->
					<div class="{{hole.shelf.objectClass}}"
						 ng-show="hole.shelf"
						 ng-drag="true"
						 ng-drag-data="hole.shelf"
						 ng-drag-success="onItemDragComplete($data, $event, $index)"
						 ng-mousedown="onToolMouseDown(hole.shelf, $index)"
						 ng-mouseup="onToolMouseUp(hole.shelf, $index)">
						<!-- МОТОРЫ -->
						<div class="machine-items">
							<div class="machine-place-offset" ng-style="settings.machinePlaceOffset"></div>
							<div class="machine-place"
								 ng-style="settings.machinePlace"
								 ng-repeat="motorPlace in hole.shelf.motorPlaces">
								<div class="{{motorPlace.item.machineClass}}"
									 style="{{settings[motorPlace.item.machineClass]}}"></div>
							</div>
							<div class="machine-place-offset" ng-style="settings.machinePlaceOffset"></div>
						</div>
						<!-- /МОТОРЫ -->
						<!-- СПИРАЛИ -->
						<div class="machine-items">
							<div class="machine-place-offset" ng-style="settings.machinePlaceOffset"></div>
							<div class="machine-place"
								 ng-style="settings.machinePlace"
								 ng-repeat="spiralPlace in hole.shelf.spiralPlaces">
								<div class="{{spiralPlace.item.machineClass}}"
									 style="{{settings[spiralPlace.item.machineClass]}}">
									<div class="{{spiralPlace.item.ski.machineClass}}"
										 style="{{settings[spiralPlace.item.ski.machineClass]}}"></div>
								</div>
							</div>
							<div class="machine-place-offset" ng-style="settings.machinePlaceOffset"></div>
						</div>
						<!-- /СПИРАЛИ -->

						<!-- ЦЕННИКИ И БИРКИ -->
						<div class="label-detectors">
							<div ng-repeat="labelIdx in getTimes(labelsLinesCount)" class="label-container-mini">						
								<div ng-repeat="labelPlace in hole.shelf.labelPlaces.slice(labelIdx * placesOnShelf, (labelIdx + 1) * placesOnShelf)"
							 	class="label-detector {{labelPlace.class}}"
							 	ng-style="settings.labelDetectorMini">
									<div ng-show="labelPlace.item"
								 	class="{{labelPlace.item.anyClass}}"
								 	style="{{settings[labelPlace.item.objectClass]}}">
									<input class="label-text-mini"
									   style="{{settings['label-text-mini']}}"
									   type="text"
									   ng-model="labelPlace.item.value">
									</div>
								</div>												
							</div>
						</div>
						<!-- /ЦЕННИКИ И БИРКИ -->
					</div>
					<!-- /ПОЛКА АВТОМАТА -->
				</div>
			</div>
			<div class="sockets">
				<div class="socket-hole {{socket.class}}"
					 ng-repeat="socket in sockets"
					 ng-drop="true"
					 ng-drop-success="onSocketDropComplete($data, $event, socket)">
					<div class="{{socket.item.objectClass}}"
						 ng-drag="true"
						 ng-drag-data="socket.item"
						 ng-drag-success="onItemDragComplete($data, $event, $index)"
						 ng-mousedown="onToolMouseDown(socket.item, $index)"
						 ng-mouseup="onToolMouseUp(socket.item, $index)">
						{{socket.item.label}}
					</div>
					<div class="circle center"></div>
				</div>
			</div>
		</div>
		<!-- /ГЕНЕРАТОР АВТОМАТА -->

		<!-- ГЕНЕРАТОР ПОЛКИ -->
		<div class="shelf-generator" ng-show="mode == modes.shelf">
			<div class="shelf-model" ng-style="settings.shelfModel">		
				<div class="hsocket-place" ng-style="settings.hsocketPlace"></div>		
				<div class="motor-place" ng-style="settings.motorPlace"></div>				
				<div class="spiral-places" ng-style="settings.spiralPlaces">
					<div class="place-offset" ng-style="settings.placeOffset"></div>
					<div class="spiral-place"
						 ng-style="settings.spiralPlace"
						 ng-repeat="spiralPlace in currentShelf.spiralPlaces">
						<div class="spiral-hole"></div>
						<div class="rail" ng-style="settings.rail"></div>
					</div>
					<div class="place-offset" ng-style="settings.placeOffset"></div>
				</div>
				<div class="single-spiral-detectors" ng-style="settings.singleSpiralDetectors">
					<div class="place-offset" ng-style="settings.placeOffset"></div>
					<div class="single-spiral-detector {{spiralPlace.class}}"
						 ng-class="{'tool-mouse-over': currentTool.mouseOver}"
						 ng-style="settings.singleSpiralDetector"
						 ng-repeat="spiralPlace in currentShelf.spiralPlaces"
						 ng-drop="true"
						 ng-drop-success="onSpiralPlaceDropComplete($data, $event, $index)">
						<div class="{{spiralPlace.item.objectClass}}"
							 style="{{settings[spiralPlace.item.objectClass]}}"
							 ng-drag="true"
							 ng-drag-data="spiralPlace.item"
							 ng-drag-success="onItemDragComplete($data, $event, $index)"
							 ng-mousedown="onToolMouseDown(spiralPlace.item, $index)"
							 ng-mouseup="onToolMouseUp(spiralPlace.item, $index)">
							<div class="{{spiralPlace.item.ski.objectClass}}"
								 style="{{settings[spiralPlace.item.ski.objectClass]}}"></div>
							<div class="shelf-indicators">
								<div indicators
								 ng-repeat="(name, indicator) in spiralPlace.item.indicators"
								 tool-name="{{spiralPlace.item.name}}"
								 indicator-name="{{name}}"></div>
							</div>
						</div>
						<div class="detector-rail" ng-style="settings.rail"></div>
					</div>
					<div class="place-offset" ng-style="settings.placeOffset"></div>
				</div>
				<div class="motor-detectors">
					<div class="motor-offset" ng-style="settings.motorOffset"></div>
					<div class="motor-detector {{motorPlace.class}}"
						 ng-class="{'tool-mouse-over': currentTool.mouseOver}"
						 ng-style="settings.motorDetector"
						 ng-repeat="motorPlace in currentShelf.motorPlaces"
						 ng-drop="true"
						 ng-drop-success="onMotorPlaceDropComplete($data, $event, $index)">
						<div class="{{motorPlace.item.objectClass}}"
							 style="{{settings[motorPlace.item.objectClass]}}"
							 ng-drag="true"
							 ng-drag-data="motorPlace.item"
							 ng-drag-success="onItemDragComplete($data, $event, $index)"
							 ng-mousedown="onToolMouseDown(motorPlace.item, $index)"
							 ng-mouseup="onToolMouseUp(motorPlace.item, $index)">
							<div class="shelf-indicators">
								<div indicators
								 ng-repeat="(name, indicator) in motorPlace.item.indicators"
								 tool-name="{{motorPlace.item.name}}"
								 indicator-name="{{name}}">
								</div>
							</div>
						</div>
					</div>
					<div class="motor-offset"></div>
				</div>
				<div class="hsocket-detectors">
					<div class="hsocket-offset" ng-style="settings.hsocketOffset"></div>
					<div class="hsocket-detector {{Place.class}}"
						 ng-class="{'tool-mouse-over': currentTool.mouseOver}"
						 ng-style="settings.hsocketDetector"
						 ng-repeat="hsocketPlace in currentShelf.hsocketPlaces"
						 ng-drop="true"
						 ng-drop-success="onHsocketPlaceDropComplete($data, $event, $index)">
						<div class="{{hsocketPlace.item.objectClass}}"
							 style="{{settings[hsocketPlace.item.objectClass]}}"
							 ng-drag="true"
							 ng-drag-data="hsocketPlace.item"
							 ng-drag-success="onItemDragComplete($data, $event, $index)"
							 ng-mousedown="onToolMouseDown(hsocketPlace.item, $index)"
							 ng-mouseup="onToolMouseUp(hsocketPlace.item, $index)">
							<div class="shelf-indicators">
								<div indicators
								 ng-repeat="(name, indicator) in hsocketPlace.item.indicators"
								 tool-name="{{hsocketPlace.item.name}}"
								 indicator-name="{{name}}">
								</div>
							</div>
						</div>
					</div>
					<div class="hsocket-offset"></div>
				</div>				

				<div class="label-detectors"
					 ng-style="settings.labelDetectors">
					<div ng-repeat="labelIdx in getTimes(labelsLinesCount)" class="label-container">
						<div class="machine-place-offset" ng-style="settings.machinePlaceOffset"></div>
						<div ng-repeat="labelPlace in currentShelf.labelPlaces.slice(labelIdx * placesOnShelf, (labelIdx + 1) * placesOnShelf)"
							 class="label-detector {{labelPlace.class}}"
							 ng-style="settings.labelDetector"
							 ng-drop="true"
							 ng-drop-success="onLabelPlaceDropComplete($data, $event, $index + labelIdx * placesOnShelf)">
							<div ng-show="labelPlace.item"
								 class="{{labelPlace.item.objectClass}} {{labels[labelIdx].class}}"
								 style="{{settings[labelPlace.item.objectClass]}}"
								 ng-drag="true"
								 ng-drag-data="labelPlace.item"
								 ng-drag-success="onItemDragComplete($data, $event, $index + labelIdx * placesOnShelf)"
								 ng-mousedown="onToolMouseDown(labelPlace.item, $index)"
								 ng-mouseup="onToolMouseUp(labelPlace.item, $index)">
								<input class="label-text"
									   style="{{settings['label-text']}}"
									   type="text"
									   ng-model="labelPlace.item.value"
									   ng-mousedown="preventDrag($event)">
							</div>
						</div>
						<div class="machine-place-offset" ng-style="settings.machinePlaceOffset"></div>
						<div class="label-name">
							{{labels[labelIdx].name}}
						</div>
					</div>
				</div>
			</div>
			<div class="to-machine">
				<button type="button" ng-click="configureMachine()">К автомату</button>
			</div>
		</div>
		<!-- /ГЕНЕРАТОР ПОЛКИ -->
	</div>
</body>
</html>