<!DOCTYPE html>
<html ng-app="ConfiguratorApp">
<head>
	<title></title>
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/configurator.js"></script>
	<script type="text/javascript" src="js/ngDraggable.js"></script>
</head>
<body>
	<div class="configurator" ng-controller="ConfiguratorCtrl" ng-show="currentMachine">
		<div class="tools">
			<ul>
				<li ng-repeat="tool in tools">
					<div class="title">
						{{tool.name}}
					</div>
					<div class="tool-container"
					ng-drag="true"
					ng-drag-data="tool"
					ng-drag-success="onToolDragComplete($data, $event)"
					ng-mousedown="onToolMouseDown(tool)"
					ng-mouseup="onToolMouseUp(tool)">
						<div class="{{tool.toolClass}}"></div>
					</div>
				</li>
			</ul>
		</div>

		<div class="machine">
			<div class="hole"
			ng-repeat="hole in holes"
			ng-drop="true"
			ng-drop-success="onHoleDropComplete($data, $event, hole)"
			ng-class="{'not-empty': hole.shelf,
			'tool-mouse-over': tools.shelf.mouseOver && !hole.shelf}">
				<div class="circle left"></div>
				<div class="circle right"></div>
				<div class="hole-label">{{hole.id}}</div>
				<div class="{{hole.shelf.objectClass}}"
				ng-show="hole.shelf"
				ng-drag="true"
				ng-drag-data="hole.shelf"
				ng-drag-success="onShelfDragComplete($data, $event, hole)"
				ng-mousedown="onToolMouseDown(tools.shelf)"
				ng-mouseup="onToolMouseUp(tools.shelf)"></div>
			</div>
		</div>

		<div class="garbage"
		ng-drop="true"
		ng-drop-success="onGarbageDropComplete($data, $event)">
			Мусор
		</div>
	</div>
</body>
</html>