.recipe-selecter {
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
  	border-radius:6px;
	-khtml-border-radius:10px;
	text-align: center;
	background-color: #D2D2D2;
	padding-bottom: 1em;
}

.selecter-container
{
	padding: 1em;
}

.recipe-selector
{
	width: 50%;
	margin: 0 auto;
}