body {
	margin: 1em;
}

.recipe-selecter {
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
  	border-radius:6px;
	-khtml-border-radius:10px;
	text-align: center;
	background-color: #D2D2D2;
	padding-bottom: 1em;
}

.elements-container {
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
  	border-radius:6px;
  	border: 1px solid #CECECE;
	-khtml-border-radius:10px;
	text-align: center;
	background-color: #F9F9F9;
}

.selecter-container
{
	padding: 1em;
}

.recipe-selector
{
	width: 50%;
	margin: 0 auto;
}

.arrow-input {
	position: relative;
	margin: 0 auto;
	width: 2em;
	height: 1.4em;
	background: #8785FF;
	font-size: 12px;
	z-index: 1;
	margin-bottom: 1.2em;
}

.arrow-input::before {
	position: absolute;
	bottom: -1.2em;
	left: -1em;
	border-top: 1.4em solid #8785FF;
	border-right: 2em solid rgba(44, 44, 44, 0);
	border-left: 2em solid rgba(44, 44, 44, 0);
	content: "";
}

.arrow-output {
	position: relative;
	margin: 0 auto;
	width: 2em;
	height: 1.4em;
	background: #FFA579;
	font-size: 12px;
	z-index: 1;
	margin-bottom: 1.2em;
}

.arrow-output::before {
	position: absolute;
	bottom: -1.2em;
	left: -1em;
	border-top: 1.4em solid #FFA579;
	border-right: 2em solid rgba(44, 44, 44, 0);
	border-left: 2em solid rgba(44, 44, 44, 0);
	content: "";
}