.grad-cylinder,
.cylinder-coloring,
.cylinder-having {
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
  	border-radius:6px;
	-khtml-border-radius:10px;
}

.grad-cylinder {
	text-align: center;
	min-width: 1em;
	min-height: 1em;
	font-size: 14px;
	position: relative;
	margin: 1em;
}

.qty-container {
	
}

.cylinder-label {
	font-weight: bold; 
	font-size: 1.5em;
}

.cylinder-body {
	position: relative;
	padding: 0.5em;
	z-index: 1;
}

.input-cylinder {
	background-color: #DADAFF;
}

.output-cylinder {
	background-color: #FFE7CE;
}

.cylinder-value {
	font-weight: bold; 
	font-size: 2.0em;
	color: #00c;
	border-bottom: 1px dashed #00c;
}

.hand-input {
	font-weight: bold; 
	font-size: 2.0em;
	color: #00c;
	text-align: center;
	width: 80%;
}

.cylinder-coloring,
.cylinder-labels {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cylinder-labels {
	opacity: 0.3;
	margin-top: -0.75em;
}

.cylinder-labels-having,
.cylinder-labels-critical {
	float: left;
	font-weight: bold;
	margin-left: 0.2em;
}

.cylinder-labels-having {
	color: #4866FF;
}

.cylinder-labels-critical {
	color: #FF5555;
	margin-top: 0.1em;
}

.cylinder-labels-dash {
	float: left;
	width: 1.3em;
	height: 0.85em;
	border-bottom: 2px solid #4866FF;
	margin-left: 0.2em;
}

.cylinder-red-dash {
	border-bottom: 2px solid #FF7777;
}

.labels-left-container {
	right: 0;
	position: absolute;
}

.labels-critical-container {
	position: absolute;
}

.cylinder-labels-left {
	width: 100%;
	margin-left: 45%;
	padding: .2em .3em .3em;
	font-weight: bold;
	line-height: 1;
	color: #ffffff;
	background-color: #999999;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.cylinder-labels-left:before {
    z-index: -1;
    position: absolute;
    content:'';
    width: 100%;
    height: 0;
    right: 50%;
    bottom: 0.05em;
	border-style: solid;
	border-width: 0.75em 1.4em 0.75em 0;
	border-color: transparent rgb(153, 153, 153) transparent transparent;
}

.cylinder-having {
	height: 100%;
}

.DragHorizontal {
	cursor: pointer;
	cursor: move;
	cursor: col-resize;
}